/* Add any custom styles for the product details component here */
h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: bottom;
}

img {
  width: 20%;
  height: auto;
  margin-bottom: 150px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  opacity: 30%;
}
