<head>

  <div class="header">
    <a routerLink="/" class="logo">Veritexa Ecommerce</a>
    <div class="header-right">
      <a routerLinkActive="active" routerLink="" ariaCurrentWhenActive="page">Home</a>
      <a routerLinkActive="active" routerLink="product" ariaCurrentWhenActive="page">Product</a>
      <a routerLinkActive="active"  routerLink="about" ariaCurrentWhenActive="page">About</a>
      <a routerLinkActive="active" routerLink="cart" ariaCurrentWhenActive="page">Cart</a>
      <a routerLinkActive="active" routerLink="contact" ariaCurrentWhenActive="page">Contact Us</a>
    </div>
  </div>
<!--
<app-home></app-home> -->
<router-outlet></router-outlet>
</head>
<app-footer></app-footer>
